<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026970922228-77f06nd1h0pruf0uj9ga9jsjpb6gigei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026970922228-77f06nd1h0pruf0uj9ga9jsjpb6gigei</string>
	<key>API_KEY</key>
	<string>AIzaSyBemP14xefg8vwPrTbYOPXax2jePPQdUjw</string>
	<key>GCM_SENDER_ID</key>
	<string>1026970922228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterproject</string>
	<key>PROJECT_ID</key>
	<string>flutterweb-1fb62</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterweb-1fb62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026970922228:ios:c43bab2dd9fa01a38cc2a1</string>
</dict>
</plist>